.nav {
    background: var(--bs-gray-900);

    .navbar-inner {
        padding: 0 calc(var(--bs-gutter-x, 1rem) * 2);
    }

    .search-input {
        width: calc(5.5rem + 5vw);
    }

    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;
        cursor: pointer;

        .navbar-toggler-bar {
            width: 1.5rem;
            height: 2px;
            background: $white;
            transition: all 0.3s ease-in-out;
        }

        .navbar-toggler-bar.bar1 {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
            margin-top: 4px;
        }

        .navbar-toggler-bar.bar2 {
            opacity: 0;
        }

        .navbar-toggler-bar.bar3 {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
            margin-top: 3px;
        }

        &[aria-expanded=true] {
            .navbar-toggler-bar.bar1 {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
                margin-top: 4px;
            }

            .navbar-toggler-bar.bar2 {
                opacity: 0;
            }

            .navbar-toggler-bar.bar3 {
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
                margin-top: 3px;
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white;
                }
            }
        }
    }

    .navbar-expand-lg {
        .navs-transparent {
            background: transparent;
            @include top-nav-link;
        }

        &.navs-sticky {
            position: sticky;
            top: 0;
            width: 100%;
            transition: all 0.3s ease-in-out;

            &.menu-sticky {
                position: fixed !important;
                top: 0;
                transition: all 400ms ease;
            }
        }
    }

    &.navs-color {
        background: var(--#{$variable-prefix}primary);

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white;
                }
            }
        }
    }

    &.nav-glass {
        background: linear-gradient(120deg, rgba($white, 0.5) -8%, rgba($white, 0.01) 120%);
        backdrop-filter: blur(10px);
        border-bottom: $border-width solid $white;

        .navbar-nav {
            @include top-nav-link;
        }
    }

    &.navbar-expand-lg {
        &.navs-transparent {
            background: transparent;
            @include top-nav-link;
        }

        &.navs-sticky {
            position: sticky;
            top: 0;
            width: 100%;

            &.menu-sticky {
                position: fixed !important;
                top: 0;
                transition: all 400ms ease;
            }
        }
    }

    &.dropdown {
        .dropdown-menu[data-bs-popper] {
            top: 110%;
            animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        }

        .dropdown-menu {
            &.sub-drop {
                width: 300px;
                border-radius: $border-radius;
                animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

                li {
                    a {
                        color: var(--bs-body-color);
                    }
                }

                .iq-sub-card {
                    cursor: pointer;
                    padding: 0.75rem 1.25rem !important;
                    display: inline-block;
                    width: 100%;
                    color: var(--bs-body-color);
                    transition: all 400ms ease;

                    &:hover {
                        background: var(--#{$variable-prefix}primary-tint-90);
                    }

                    &:not(:last-child) {
                        border-bottom: $border-width solid var(--bs-border-color);
                    }

                    &:last-child {
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }
        }
    }

    &.dropdown {
        .dropdown-menu[data-bs-popper] {
            top: 126%;
            animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        }

        .dropdown-menu {
            &.sub-drop {
                width: 300px;
                border-radius: $border-radius;
                animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

                li {
                    a {
                        color: var(--bs-body-color);
                    }
                }

                .iq-sub-card {
                    cursor: pointer;
                    padding: 0.75rem 1.25rem !important;
                    display: inline-block;
                    width: 100%;
                    color: var(--bs-body-color);
                    transition: all 400ms ease;

                    &:hover {
                        background: var(--#{$variable-prefix}primary-tint-90);
                    }

                    &:not(:last-child) {
                        border-bottom: $border-width solid var(--bs-border-color);
                    }

                    &:last-child {
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .nav {
            .sidebar-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .iq-navbar {
            .navbar-collapse {
                &:not(.offcanvas-collapse) {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    flex-grow: unset;
                    background: $white;
                    z-index: 1081;
                    box-shadow: $box-shadow-sm;
                    transition: all 400ms ease;
                }
            }

            .navbar-nav.navbar-list {
                &:not(.offcanvas-collapse) {
                    flex-direction: row;
                    float: right;
                }
            }
        }
    }

    @keyframes fade-in-bottom {
        0% {
            transform: translateY(25px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .header {
        background-size: cover;
        background-repeat: no-repeat;
        height: 18.75rem;
    }

    .navbar-light {
        .navbar-toggler {
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,0,0,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $gray-600;

                @include hover-focus-active {
                    color: var(--#{$variable-prefix}primary);
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .sidebar+.main-content {
            .iq-navbar.navs-sticky {
                &.menu-sticky {
                    width: calc(100% - var(--sidebar-width));
                }
            }
        }
    }

    .sidebar.sidebar-boxed {
        margin: 1rem;
        border-radius: $border-radius;

        &+.main-content {
            margin-left: calc(var(--sidebar-width) + 2rem);
        }
    }

    &.sidebar-mini {
        &+.main-content {
            margin-right: 0;
            margin-left: unset;
        }

        &.sidebar-boxed+.main-content {
            .iq-navbar.navs-sticky {
                &.menu-sticky {
                    width: calc(100% - 8.8rem);
                }
            }
        }
    }

    .sidebar+.main-content {
        margin-left: var(--sidebar-width);
        transition: var(--sidebar-transition);
        transition-duration: var(--sidebar-transition-duration);
        transition-timing-function: var(--sidebar-transition-function-ease-in-out);
    }

    .sidebar+.main-content {
        .iq-navbar.navs-sticky {
            &.menu-sticky {
                width: calc(100% - var(--sidebar-width));
            }
        }
    }

    @media (max-width: 1199.98px) {
        .sidebar {
            &+.main-content {
                margin-left: 0;
            }

            &.sidebar-toggle {
                right: 18px;
            }

            &.sidebar-mini+.main-content {
                margin-left: 0;
            }

            &.sidebar-boxed+.main-content {
                margin-left: 0;
            }

            &.sidebar-mini.sidebar-boxed+.main-content {
                margin-left: 0;
            }
        }
    }
}
