@import "shepherd.js/dist/css/shepherd.css";
@import "flatpickr/dist/flatpickr.css";
@import 'choices.js/public/assets/styles/choices.min.css';
@import "../assets/scss/hope-ui.scss";
@import "../assets/scss/pro.scss";
@import "../assets/scss/custom.scss";
@import "../assets/scss/rtl.scss";
@import "../assets/scss/customizer.scss";
@import "../assets/custom/scss/custom.scss";